.ipynb_checkpoints
.ipynb_checkpoints/*
**/.ipynb_checkpoints
**/.ipynb_checkpoints/*

__pycachce__
__pycachce__/*
**/__pycachce__
**/__pycachce__/*

dataset
dataset/*

row_data
row_data/*


*.h5
